useDynLib(actflower, .registration = TRUE)
importFrom(Rcpp, evalCpp)
import(neuroim2)

export(read_actflower_h5)
export(write_actflower_h5)
export(estimate_fc)
export(estimate_fc_corr)
export(estimate_fc_multreg)
export(estimate_fc_partial)
export(estimate_fc_combined)
export(estimate_fc_lasso)
export(estimate_fc_lasso_cv)
export(estimate_fc_glasso)
export(estimate_fc_glasso_cv)
export(actflow_predict)
export(actflow_test)
export(actflow_uncertainty)
export(model_compare)
export(noise_ceiling)
export(calcconn_parcelwise_noncircular)
export(calcactivity_parcelwise_noncircular)
