name: r-cmd-check

on:
  pull_request:
  push:
    branches: [ main, master ]

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Install system deps
        run: |
          sudo apt-get update
          sudo apt-get install -y libhdf5-dev

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::rcmdcheck
            any::Rcpp
            any::RcppArmadillo
            any::hdf5r
            any::jsonlite
            github::bbuchsbaum/neuroim2
          needs: check

      - name: R CMD check
        run: |
          Rscript -e 'rcmdcheck::rcmdcheck(args = c("--no-manual", "--as-cran"), error_on = "error")'
